POSICIONES_ENTRENADORES=[1|4,5|4,8|8]
POKEMON_ENTRENADORES=[Bulbasaur,Charmander,Pichu]
OBJETIVOS_ENTRENADORES=[Bulbasaur|Ivysaur|Venasaur|Mega-Venasaur,Charmander|Charmeleon|Charizard|Mega-Charizard-X,Pichu|Pikachu|Raichu]
TIEMPO_RECONEXION=1800
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=RR
QUANTUM=2
ESTIMACION_INICIAL=0
IP_BROKER=192.168.1.35
PUERTO_BROKER=5002
LOG_FILE=/home/utnso/log_team1.txt
PUERTO=5001
ACK_TIMEOUT=99999