POSICIONES_ENTRENADORES=[2|4]
POKEMON_ENTRENADORES=[Bulbasaur]
OBJETIVOS_ENTRENADORES=[Squirtle|Bulbasaur]
TIEMPO_RECONEXION=18000
RETARDO_CICLO_CPU=5
ALGORITMO_PLANIFICACION=SJF-CD
QUANTUM=0
ALPHA=0.5
ESTIMACION_INICIAL=8
IP_BROKER=192.168.1.35
PUERTO_BROKER=5002
LOG_FILE=/home/utnso/log_team1.txt
PUERTO=5001
ACK_TIMEOUT=99999